$highlight-color:#ff574a;
$light-color:#666;
.mint-tabbar {
    background-color: #fff;
    .mint-tab-item {
        color: $light-color;
        &.is-selected {
            background-color: transparent;
            color: $highlight-color;
        }
        .tab-icon {
            height: 24px;
            margin-bottom: 5px;
            .fa-icon {
                width: auto;
                height: 100%;
            }
        }
        .mint-tab-item-icon {
            >* {
                display: initial;
                width: initial;
            }
        }
    }
}

.page-tabbar {
    overflow: hidden;
    height: 100vh;
    .page-wrap {
        overflow: auto;
        height: 100%;
        padding-bottom: 100px;
        .mint-tab-container-item {
            padding-bottom: 55px;
        }
    }
    .pro-banner {
        width: 100%;
        display: block;
    }
}

.mint-swipe-items-wrap {
    position: static;
    >div {
        position: static;
    }
}